<section class="message-section">
  <div class="message-section__header">
    {{{header}}}
  </div>

  {{{divider}}}

  <div class="message-section__content">
    {{{content}}}
  </div>

  {{{divider}}}

  <div class="message-section__footer">
    {{{footer}}}
  </div>
</section>
