<section class="message-section">
  <div class="message-section__header">
    {{{headerContainer}}}
  </div>

  {{{topDivider}}}

  <div class="message-section__content scroll-bar">
    {{{contentContainer}}}
  </div>

  {{{bottomDivider}}}

  <div class="message-section__footer">
    {{{footerContainer}}}
  </div>
</section>
