<section class="message-section">
  <div class="message-section__header">
    {{{header}}}
  </div>

  {{{topDivider}}}

  <div class="message-section__content scroll-bar">
    {{{content}}}
  </div>

  {{{bottomDivider}}}

  <div class="message-section__footer">
    {{{footer}}}
  </div>
</section>
