<button
  class="{{styles.container}}{{styles.customClasses}}{{#if disabled}}disabled{{/if}}"
  {{#if id}} id="{{id}}" {{/if}}
  {{#if name}} name="{{name}}" {{/if}}
  {{#if value}} value="{{value}}" {{/if}}
  {{#if onClick}} onclick="{{onClick}}" {{/if}}
  {{#if type}} type="{{type}}" {{/if}}
>
  <div class="{{styles.text}}">
    {{{text}}}
  </div>
</button>