<div class="bar-item">
  {{{avatar}}}

  <div class="bar-item__content">
    <div class="bar-item__content__info-row">
      {{{chatTitle}}}
      <span class="bar-item__content__info-row__time">{{time}}</span>
    </div>

    <div class="bar-item__content__subtitle">
      {{#if lastMessage}}
        <span class="bar-item__content__subtitle__message">{{lastMessage}}</span>
      {{/if}}
      {{{countBadge}}}
    </div>
  </div>
</div>
