<button
  class="icon-button{{#if disabled}} disabled{{/if}} icon-button__{{variant}}"
  {{#if btnWidth}}
    style="width: {{btnWidth}}px; height: {{btnWidth}}px;"
  {{/if}}
  {{#if id}} id="{{id}}" {{/if}}
  {{#if name}} name="{{name}}" {{/if}}
  {{#if value}} value="{{value}}" {{/if}}
>
  <img
    class="icon-button__img"
    {{#if iconWidth}}
      style="width: {{iconWidth}}px"
    {{/if}}
    src="{{iconSrc}}"
  />
</button>
